<h1> Generate Form</h1>
<%= form_tag get_token_pages_path, method: 'get' do |f| %>
	<p>Application Id: <input type="text" id="client_id" name="client_id"></p>
	<p>Secret:<input type="text" id="client_secret" name="client_secret"></p> 
	<p>Code:<input type="text" id="code" name="code"></p> 
	<p><button type="submit">Generate</button></p>
<%end%>
